@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap');

html {
  font-family: 'Source Sans 3', sans-serif;
}

::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track{
background: transparent;

}
::-webkit-scrollbar-thumb{
background: rgb(219, 219, 219);
border-radius: 30px;

}